<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Captive Portal test</title>
  <meta name="description" content="Captive Portal demo">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/captiveportal.css">

</head>
<body>

  <div class="container">
    <noscript>
      <div class="row">
        <div class="six columns msgbox msgbox-error" style="margin-top: 2%;">
          <h1> 楊野家のテストフリーwifi </h1>
        </div>
      </div>
    </noscript>

    <div class="row">
      <div class="six columns" style="margin-top: 10%">
        <h1>楊野家のフリーwifi</h1>

        <p>
          接続されました。
        </p>
      </div>
    </div>
  </div>
  <script src="/static/js/jquery-1.12.2.min.js"></script>
  <script src="/static/js/captiveportal.js"></script>
</body>
</html>
